* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(115, 114, 114);
}

.wrapper {
  min-height: 100vh;
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin: auto;
}

.carousel {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 100px;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.carousel::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 200px;
  left: 0;
  z-index: 1;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.carousel::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 200px;
  right: 0;
  z-index: 1;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
  transform: rotate(180deg);
}

.slide {
  display: flex;
  align-items: center;
  animation: carousel 15s linear infinite;
}

.slide-item {
  height: 100px;
  width: auto;
  padding: 10px 10px;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}
